body {
    margin: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

#logo-container {
    height:500px;
    width:100%;
    background-color:lightgray;
    display: flex;
    justify-content: center;
}

#header {
    height: 162px;
    justify-content: center;
    margin-top:200px;

}

#header-image {
    width:100%;
    display: flex;
    align-items: center;
    margin-top: 30px;
}

nav {
    background-color:floralwhite;
    display: flex;
    justify-content: center;
    height: 50px;
    width: 100%;
    position: fixed;
}

ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

li {
    align-self: center;
    list-style-type: none;
    color: black;
}

#photo-info {
    margin-left: 500px;
}

#portrait {
    margin-right: 650px;


}
