body {
    margin: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

#logo-container {
    height:500px;
    width:100%;
    background-color:lightgray;
    display: flex;
    justify-content: center;
}

#header {
    height: 162px;
    justify-content: center;
    margin-top:200px;

}

#header-image {
    width:100%;
    display: flex;
    align-items: center;
    margin-top: 30px;
}

nav {
    background-color:floralwhite;
    background-color:#66bcaf;
    display: flex;
    justify-content: center;
    height: 50px;
    width: 100%;
    position: fixed;
}

ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    color: #ffffff;
}

li {
    align-self: center;
    list-style-type: none;
    color: antiquewhite;
    font-family: 'Kodchasan', sans-serif;
}
a {
    text-decoration: none;
}

#portrait {
    margin-right: 650px;
}

#contact-text {
    margin-top: 100px;
    text-align: center;
    font-family: 'Kodchasan', sans-serif;
}


/*ROW ONE STARTS*/


#row-one {
    display: flex;
    justify-content: row;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 70px;
}


#falls {
    width: 33%;
    height: 33%;
    border: solid white 1px;

    display: flex;
}

#ferriswheel {
    width: 33%;
    height: 33%;
    border: solid white 1px;
    display: flex;
    margin-left: 20px;
}

#sweetjesus {
    width: 33%;
    height: 33%;
    border: solid white 1px;

    margin-left: 20px;
    display: flex;
}
/*ROW ONE ENDS*/


/*ROW TWO STARTS*/
#row-two {
    display: flex;
    justify-content: row;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
}

#falls2 {
   width: 33%;
    height: 33%;
    border: solid white 1px;

    display: flex;
}

#freddie{
   width: 33%;
    height: 33%;
    border: solid white 1px;

    margin-left: 20px;
    display: flex;
}

#camera {
   width: 33%;
    height: 33%;
    border: solid white 1px;

    margin-left: 20px;
    display: flex;
}
/*ROW TWO ENDS*/


/*ROW THREE STARTS*/
#row-three {
    display: flex;
    justify-content: row;
    margin-left: 20px;
    margin-right: 20px;
}
#leaves {
    width: 33%;
    height: 33%;
    border: solid white 1px;

    margin-left: 20px;
    display: flex;
}

#ferriswheel {
    width: 33%;
    height: 33%;
    border: solid white 1px;

    margin-left: 20px;
    display: flex;
}

#lamppost {
    width: 33%;
    height: 33%;
    border: solid white 1px;
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
}
/*ROW THREE ENDS*/


/*ROW FOUR STARTS*/
#row-four {
    display: flex;
    justify-content: row;
    margin-left: 20px;
    margin-right: 20px;
}
#eye {
   width: 33%;
    height: 33%;
    border: solid white 1px;
   margin-top: 20px;
    display: flex;
}

#trafficlight {
   width: 33%;
    height: 33%;
    border: solid white 1px;
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
}

#hand {
    width: 33%;
    height: 33%;
    border: solid white 1px;
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
}
/*ROW FOUR ENDS*/

#photo-info {
    display: flex;
    justify-content: row;
    margin-left: 20px;
    margin-right: 20px;
}
#text {
    border: solid white 1px;
    margin-top: 20px;
    display: flex;
    font-family: 'Kodchasan', sans-serif;
}
#photo-of-me {
    border: solid white 1px;
    margin-top: 20px;
    display: flex;
    margin-right: 20px;
}

.transition_white {
    color: black;
    transition-property: color;
    transition-duration: .5s;
    transition-delay: .2s;
}

.transition_white:hover {
    color: white ;
    transition-property: color;
    transition-duration: .5s;
    transition-delay: .2s;
}
.contact-info {
    color: black;
    transition-property: color;
    transition-duration: .5s;
    transition-delay: .2s;
}

.contact-info:hover {
    color: #66bcaf ;
    transition-property: color;
    transition-duration: .5s;
    transition-delay: .2s;
}

/*__________________________________________*/
/*  MEDIA STARTS  */
/*__________________________________________*/


@media (max-width: 700px) and (max-width: 800px){

    body {
        background-color: lightseagreen;
    }

#row-one {
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
    flex-direction: column;
    align-self: center;
}

         .falls {
            width: 100%;
            height: 100%;
            display: flex;

        }

        .ferriswheel {
            width: 100%;
            height: 100%;
            display: flex;


        }

        .sweetjesus {
            width: 100%;
            height: 100%;
            display: flex;

}

#row-two {
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
    flex-direction: column;
    align-self: center;
}

        .falls2 {
            width: 100%;
            height: 100%;
            display: flex;

        }

        .freddie{
            width: 100%;
            height: 100%;
            display: flex;

}
        .camera {
            width: 100%;
            height: 100%;
            display: flex;

}
#row-three {
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
    flex-direction: column;
    align-self: center;
}
        .leaves {
            width: 100%;
            height: 100%;
            display: flex;

}
        .ferriswheel {
            width: 100%;
            height: 100%;
            display: flex;

}
        .lamppost {
            width: 100%;
            height: 100%;
            display: flex;

}
#row-four {
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
    flex-direction: column;
    align-self: center;
}
         #eye {
            width: 100%;
            height: 100%;
            display: flex;

}
        #trafficlight {
            width: 100%;
            height: 100%;
            display: flex;

}
        #hand {
            width: 100%;
            height: 100%;
            display: flex;

}



}


